.button {
  height: 60px;
  width: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
.iconOff{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}

.iconOn {
  background-color: #ef8568;
}


.text {
  flex: 1;
}
